<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="incursa" value="https://nuget.incursa.com/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="incursa">
      <package pattern="Incursa.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Bogus" />
      <package pattern="CommunityToolkit.*" />
      <package pattern="coverlet.*" />
      <package pattern="CsvHelper" />
      <package pattern="DotNet.ReproducibleBuilds.*" />
      <package pattern="ErrorProne.NET.*" />
      <package pattern="FluentValidation" />
      <package pattern="JsonSchema.Net" />
      <package pattern="LibGit2Sharp" />
      <package pattern="Markdig" />
      <package pattern="Meziantou.Analyzer" />
      <package pattern="Microsoft.*" />
      <package pattern="MSTest.*" />
      <package pattern="NSubstitute*" />
      <package pattern="Octokit" />
      <package pattern="PortAudioSharp2" />
      <package pattern="Roslynator.*" />
      <package pattern="SimpleExec" />
      <package pattern="SonarAnalyzer.CSharp" />
      <package pattern="StyleCop.Analyzers" />
      <package pattern="System.CommandLine" />
      <package pattern="Terminal.Gui" />
      <package pattern="YamlDotNet" />
    </packageSource>
  </packageSourceMapping>
</configuration>
